
// red 	  #993500
// lighter red #cc4700
// orange #e69d00
html { 
  background: url(/images/wood_BG_Vert.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -khtml-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform($transformation) {
    -webkit-transform: $transformation;
    -moz-transform: $transformation;
    -o-transform: $transformation;
    -ms-transform: $transformation;
    transform: $transformation;
}



@font-face {
	font-family: "The Noun Project";
	src: url("../../The-Noun-Project.woff");
}

.mainBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	// border: solid black 1px;
	margin: auto;
	margin-top: 10px;
	height: 2480px;
	width: 1060px;
	background: rgba(255, 204, 153, 0.9);
	flex: 1;
}
// ==========BANNER==================
.bannerBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	// border: solid red 1px;
	height: 115px;
	width: 940px;
	border-bottom: solid #FFAF00 3px;
	text-shadow:  (1px 1px 5px black);
}

.location1Box {
	display: flex;
	// border: solid orange 1px;
	height: 114px;
	width: 470px;
	justify-content: center;
	align-items: center;
	font-size: 60px;
	color: #993500;


}

.location2Box {
	display: flex;
	border: solid #e69d00 1px;
	height: 76px;
	width: 200px;
	justify-content: center;
	align-items: center;
	background: rgba(221, 179, 136, 0.8);
	color: #993500;
	a {
		color: black;
		font: 24px The Noun Project;
		text-decoration: none;
		outline: 0;
		margin: 0 15px;
	}
	.twitter:before {
		content: "\24e3";
	}
	.facebook:before {
		content: "\24d5";
	}
	.instagram:before {
		content: "\24d8";
	}
}

// ==========HERO IMAGE==================
.location3Box {
	// display: flex;
	// flex-direction: row;
	justify-content: center;
	align-items: center;
	// border: solid red 1px;
	height: 400px;
	width: 940px;
	margin-top: 20px;
	img {
		width: 100%;
		max-height: 100%;
		@include box-shadow (5px 5px 20px black);
	}
}

// =========INFO================
.infoBox {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	// border: solid red 1px;
	height: 270px;
	width: 940px;
	margin-top: 40px;
}

// ==========Location 4===========
.location4Box {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: solid #e69d00 2px;
	height: 240px;
	width: 300px;
	align-items: center;
	background: rgba(221, 179, 136, 0.8);

}

.latestNewsBox {
	display: flex;
	// border: solid yellow 1px;
	height: 40px;
	width: 290px;
	align-items: center;
	border-bottom: solid #e69d00 2px;
	color: #993500;
}

.titleAndDateBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	// border: solid yellow 1px;
	height: 45px;
	width: 300px;
}

.titleBox {
	display: flex;
	// border: solid green 1px;
	height: 40px;
	width: 200px;
	align-items: center;
	color: #993500;
	margin-left: 4px;
}

.dateBox {
	display: flex;
	// border: solid green 1px;
	height: 40px;
	width: 50px;
	align-items: center;
	white-space: nowrap;
	color: #993500;
	margin-right: 4px;
}

.paragraphBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	// border: solid yellow 1px;
	height: 130px;
	width: 290px;
	overflow: hidden;
	color: #993500;

	p {
		margin-top: 2px;
	}
}

.readMoreBox {
	display: flex;
	// border: solid yellow 1px;
	height: 12px;
	width: 100px;
	align-items: center;
	justify-content: center;
	color: #e69d00;
	font-size: 18px;
}
.readMoreBox:hover{
	border-bottom: solid #e69d00 1px;
	color: #cc4700;
}

// =========location 5===============
.location5Box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: solid #e69d00 2px;
	height: 240px;
	width: 300px;
	align-items: center;
	background: rgba(221, 179, 136, 0.8);
}

.specialsBox {
	display: flex;
	// border: solid yellow 1px;
	height: 40px;
	width: 290px;
	align-items: center;
	border-bottom: solid #e69d00 2px;
	color: #993500;
}

.specialsImgBox {
	display: flex;
	// flex-direction: column;
	align-items: center;
	border: solid black 1px;
	height: 100px;
	width: 260px;
	img {
		width: 100%;
		max-height: 100%;
	}
}


.specialsNameBox td {
	// display: flex;
    max-width:255px;
    height: 25px;
    overflow:hidden;
    white-space:nowrap;
	align-items: center;
	color: #993500;
	// border: solid yellow 1px;
}
.specialsNameBox td:first-child:after {
color: #e69d00;
    content:" - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - "
}



.spDescriptionBox {
	display: flex;
	// border: solid yellow 1px;
	height: 34px;
	width: 290px;
	align-items: center;
	margin-bottom: 5px;
	color: #993500;
}



// ==============Location 6===============
.location6Box {
	display: flex;
	flex-direction: column;
	border: solid #e69d00 2px;
	height: 240px;
	width: 300px;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	background: rgba(221, 179, 136, 0.8);
}

.locationBox {
	display: flex;
	// border: solid yellow 1px;
	height: 40px;
	width: 290px;
	align-items: center;
	border-bottom: solid #e69d00 2px;
	color: #993500;
}

.gMapsBox {
	display: flex;
	align-items: center;
	border: solid black 1px;
	height: 100px;
	width: 260px;
}

.addressBox {
	display: flex;
	// border: solid yellow 1px;
	height: 20px;
	width: 295px;
	align-items: center;
	justify-content: center;
	color: #993500;
}

.phoneNumBox {
	display: flex;
	justify-content: space-between;
	// border: solid yellow 1px;
	height: 20px;
	width: 295px;
	align-items: center;
	justify-content: center;
}

a {
	text-decoration:none;
	color: #993500;
}

a:hover {
	color: #cc4700;
}

.main {
	display: flex;
	// border: solid green 1px;
	height: 20px;
	width: 145px;
	align-items: center;
	justify-content: center;
	color: #993500;;
}

.res {
	display: flex;
	// border: solid green 1px;
	height: 20px;
	width: 145px;
	align-items: center;
	justify-content: center;
}

.mapsInfoBox {
	display: flex;
	// border: solid yellow 1px;
	height: 20px;
	width: 295px;
	align-items: center;
	justify-content: center;
}
.mapLink {
	display: flex;
	// border: solid green 1px;
	height: 20px;
	width: 100px;
	align-items: center;
	justify-content: center;
	color: #993500;
}
.mapLink:hover{
	color: #cc4700;
}

.directionsLink {
	display: flex;
	// border: solid green 1px;
	height: 20px;
	width: 100px;
	align-items: center;
	justify-content: center;
	color: #993500;
}
.directionsLink:hover{
	color: #cc4700;
}

// ======================== Main  Tabs box =======
.mainTabsBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	// align-items: center;
	// border: solid red 1px;
	height: 1840px;
	width: 940px;
	margin-top: 20px;
}


// ================== Location 7 ================
.location7Box {
	display: flex;
	flex-direction: column;
	// border: solid orange 1px;
	height: 800px;
	width: 690px;
	align-items: center;
	// flex: 1;
}


.storyTabBox {
 	display: flex;
	// border: solid green 1px;
	// border-bottom: 1px solid #FFAF00;
	height: 50px;
	width: 100px;
	align-items: center;
	border-top: solid grey 2px;
	border-left: solid grey 2px;
	border-right: solid grey 2px;
}

.tabsBox {
	display: flex;
	// border: solid green 1px;
	flex-direction: row;
	border-bottom: 3px solid #FFAF00;
	height: 50px;
	width: 600px;
	padding: 10px 15px 0;
	align-items: bottom;
	.Box {
	    display: flex;
	    top: 1px;
		background: rgba(221, 179, 136, 0.8);
		cursor: pointer;
		margin: 0 15px;
		padding: 0 10px;
		font-size: 20px;
		align-items: center;
		// border: 1px solid black;
		color: #993500;
		@include border-radius(5px 5px 0 0);
		//@include transition(all 0.4s ease);
		&:hover {
			border-bottom: solid #993500 2px;
			padding: 7px 5px 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			top: -15px;
			font-size: 22px;
			color:  #cc4700;
			p {
				margin: 0;
			}
		}
	}
}

.menuTabBox {
	width: 100px;
	align-items: center;
	border-top: solid grey 2px;
	border-left: solid grey 2px;
	border-right: solid grey 2px;
}

.resTabBox {
	display: flex;
	border: solid green 1px;
	height: 50px;
	width: 100px;
	align-items: center;
	border-top: solid grey 2px;
	border-left: solid grey 2px;
	border-right: solid grey 2px;
}


// ===============Contents Box===============
.storyBox {
	display: flex;
	flex-direction: column;	
	// border: solid yellow 1px;
	height: 750px;
	width: 680px;
	align-items: center;
}

.contentsBox {
	display: flex;
	flex-direction: column;
	// border: solid yellow 1px;
	height: 750px;
	width: 680px;
	align-items: center;
}

.menuBox {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: solid green 1px;
	height: 745px;
	width: 675px;
	// align-items: center;
}

.AppsTitleBox {
	display: flex;
	border: solid blue 1px;
	height: 60px;
	width: 670px;
	align-items: center;
	border-bottom: solid grey 2px;
	font-size: 40px;
	overflow:hidden;
}

.appNameBox {
	display: flex;
	flex-direction: row;
	border: solid blue 1px;
	height: 40px;
	width: 670px;
	align-items: center;
}

.appName {
	display: flex;
	flex-basis: 10px;
    flex-grow: 0;
    flex-shrink: 0;
	justify-content: center;
	border: solid indigo 1px;
	height: 20px;
	align-items: center;
	white-space:nowrap;
}

.dashes{
	display: flex;
	flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
	border: solid indigo 1px;
	height: 20px;
	align-items: center;
	overflow:hidden;
	white-space:nowrap;
}

.appPrice {
	flex-basis: 20px;
    flex-grow: 0;
    flex-shrink: 0;
	display: flex;
	border: solid indigo 1px;
	height: 20px;
	align-items: center;
	white-space:nowrap;
}


.appDescn-InfoButtonsBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: solid blue 1px;
	height: 80px;
	width: 670px;
	align-items: center;
}

.appDescBox {
	display: flex;
	border: solid indigo 1px;
	height: 80px;
	width: 470px;
	align-items: center;
}

.infoIconsBox {
	display: flex;
	border: solid indigo 1px;
	height: 80px;
	width: 200px;
	align-items: center;
}

.grubTitleBox {
	display: flex;
	border: solid blue 1px;
	height: 60px;
	width: 670px;
	align-items: center;
	border-bottom: solid grey 2px;
	font-size: 40px;
}

.grubNameBox {
	display: flex;
	flex-direction: row;
	border: solid blue 1px;
	height: 40px;
	width: 670px;
	align-items: center;
}

.grubName {
	display: flex;
	flex-basis: 10px;
    flex-grow: 0;
    flex-shrink: 0;
	justify-content: center;
	border: solid indigo 1px;
	height: 20px;
	align-items: center;
	white-space:nowrap;
}

.grubPrice {
	flex-basis: 20px;
    flex-grow: 0;
    flex-shrink: 0;
	display: flex;
	border: solid indigo 1px;
	height: 20px;
	align-items: center;
	white-space:nowrap;
}

// 	font-size: 40px;
// }

.grubNameBox {
	// display: flex;
	// justify-content: space-between;
	overflow:hidden;
    white-space:nowrap;
	border: solid blue 1px;
	height: 40px;
	max-width: 670px;
	align-items: center;
}

.grubDescn-InfoButtonsBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: solid blue 1px;
	height: 80px;
	width: 670px;
	align-items: center;
}

.grubDescBox {
	display: flex;
	border: solid indigo 1px;
	height: 80px;
	width: 470px;
	align-items: center;
}

// ==
.beerTitleBox {
	display: flex;
	border: solid blue 1px;
	height: 80px;
	width: 670px;
	align-items: center;
	border-bottom: solid grey 2px;
	font-size: 40px;
}

.beerNameBox {
	display: flex;
	flex-direction: row;
	border: solid blue 1px;
	height: 40px;
	width: 670px;
	align-items: center;
}

.beerName {
	display: flex;
	flex-basis: 10px;
    flex-grow: 0;
    flex-shrink: 0;
	justify-content: center;
	border: solid indigo 1px;
	height: 20px;
	align-items: center;
	white-space:nowrap;
}

.beerPrice {
	flex-basis: 20px;
    flex-grow: 0;
    flex-shrink: 0;
	display: flex;
	border: solid indigo 1px;
	height: 20px;
	align-items: center;
	white-space:nowrap;
}


.beerDescn-InfoButtonsBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: solid blue 1px;
	height: 80px;
	width: 670px;
	align-items: center;
}

.styleDescBox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: solid violet 1px;
	height: 80px;
	width: 470px;
	align-items: center;
}
.beerStyle {
	display: flex;
	border: solid indigo 1px;
	height: 20px;
	width: 469px;
	align-items: center;
}
.beerDescBox {
	display: flex;
	border: solid indigo 1px;
	height: 59px;
	width: 469px;
	align-items: center;
}

// =============== Reservation Form======
.resFormBox {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: solid green 1px;
	height: 745px;
	width: 675px;
}

.nameTitle {
	display: flex;
	border: solid blue 1px;
	height: 50px;
	width: 670px;
	align-items: center;
	font-size: 25px;
}

.nameInput {
	display: flex;
	border: solid grey 1px;
	height: 50px;
	width: 670px;
	align-items: center;
}

.guestsTitle {
	display: flex;
	border: solid blue 1px;
	height: 50px;
	width: 670px;
	align-items: center;
	font-size: 25px;
}

.guestInput {
	display: flex;
	border: solid grey 1px;
	height: 50px;
	width: 270px;
	align-items: center;
}

.dateTitle {
	display: flex;
	border: solid blue 1px;
	height: 50px;
	width: 670px;
	align-items: center;
	font-size: 25px;
}


#datepicker {
	display: flex;
	border: solid grey 1px;
	height: 50px;
	width: 270px;
	align-items: center;
}

.notesTitle {
	display: flex;
	border: solid blue 1px;
	height: 50px;
	width: 670px;
	align-items: center;
	font-size: 25px;
}

textarea {
	display: flex;
	border: solid grey 1px;
	height: 70px;
	width: 270px;
}

.seatingTitle {
	display: flex;
	border: solid blue 1px;
	height: 50px;
	width: 670px;
	align-items: center;
	font-size: 25px;
}

select {
	width: 170px;
}

.resButtonBox {
	display: flex;
	border: solid blue 1px;
	height: 50px;
	width: 270px;
	align-items: center;

}

.button {
  font: bold 20px Arial,sans-serif;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.5);
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0.4em 2em 0.5em;
  border-radius: 0.3em;
  border: 1px solid;
  border-color: #bbbbbb #a2a2a2 #888888;
  background-color: #eee;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q1ZDVkNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #d5d5d5));
  background-image: linear-gradient(#eeeeee, #d5d5d5);
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em rgba(0, 0, 0, 0.3), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
  transition: all 100ms;
}
.button:hover {
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4), 0 0.1em 0.2em rgba(0, 0, 0, 0.4), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
}
.button:active {
  padding: 0.4em 2em 0.4em;
  margin-top: 0.1em;
  border-color: #a2a2a2 #bbbbbb #eee;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e1e1e1), color-stop(100%, #eeeeee));
  background-image: linear-gradient(#e1e1e1, #eeeeee);
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
  transition: all 10ms;
}

//============== Games Template=============
.gamesBox {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: solid green 1px;
	height: 745px;
	width: 675px;
}

.gamesTitleBox {
	display: flex;
	border: solid blue 1px;
	height: 60px;
	width: 670px;
	align-items: center;
	border-bottom: solid grey 2px;
	font-size: 40px;
}

.gamesNameBox {
	display: flex;
	border: solid blue 1px;
	height: 40px;
	max-width: 670px;
	align-items: center;
}

.gameName {
	display: flex;
	flex-basis: 10px;
    flex-grow: 0;
    flex-shrink: 0;
	justify-content: center;
	border: solid indigo 1px;
	height: 20px;
	align-items: center;
	white-space:nowrap;
}

.gamePrice {
	flex-basis: 20px;
    flex-grow: 0;
    flex-shrink: 0;
	display: flex;
	border: solid indigo 1px;
	height: 20px;
	align-items: center;
	white-space:nowrap;
}


.gamesDescn-InfoButtonsBox {
	display: flex;
	flex-direction: row;
	// justify-content: space-between;
	border: solid blue 1px;
	height: 80px;
	width: 670px;
	align-items: center;
}

.gamesDescBox {
	display: flex;
	flex-direction: column;
	border: solid green 1px;
	height: 80px;
	width: 470px;
	align-items: center;
}

.platform {
 	display: flex;
	border: solid indigo 1px;
	height: 20px;
	width: 469px;
	align-items: center;
}

.gameDesc {
 	display: flex;
	border: solid indigo 1px;
	height: 59px;
	width: 469px;
	align-items: center;
}

// ====================== Location 8 ==================
.location8Box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	// border: solid orange 1px;
	height: 1460px;
	width: 220px;
	margin-top: 9px;
}

.foodPicsTextBox {
	display: flex;
	align-items: center;
	justify-content: center;
	// border: solid yellow 1px;
	height: 50px;
	width: 210px;
	border-bottom: solid #FFAF00 3px;
	color: #993500;
	font-size: 20px;
	p {
		margin: 0px;
	}
}

.photoBox {
	display: flex;
	align-items: center;
	justify-content: center;
	// border: solid #FFAF00 3px;
	height: 216px;
	width: 216px;
	img {
		width: 100%;
		height: 100%;
		@include box-shadow (5px 5px 20px black);
	}
}

//===========FOOTER===============
.footerBox {
	display: flex;
	flex-direction: row;
	align-items: center;
	// border: solid red 1px;
	border-top: solid #e69d00 3px;
	height: 80px;
	width: 940px;
	margin-top: 20px;
	color: #993500;
}
