.mainBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid black 1px;
	margin-left: 50px;
	margin-top: 10px;
	height: 2280px;
	width: 960px;
	flex: 1;
}
// ==========BANNER==================
.bannerBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border: solid red 1px;
	height: 115px;
	width: 940px;
	border-bottom: solid grey 2px;
}

.location1Box {
	display: flex;
	border: solid orange 1px;
	height: 114px;
	width: 470px;
	justify-content: center;
	align-items: center;
	font-size: 60px;

}

.location2Box {
	display: flex;
	flex-align: right;
	border: solid orange 1px;
	// margin-left: 50px;
	height: 90px;
	width: 270px;
	justify-content: center;
	align-items: center;
}

// ==========HERO IMAGE==================
.location3Box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: solid red 1px;
	height: 270px;
	width: 940px;
	margin-top: 20px;

}

// =========INFO================
.infoBox {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border: solid red 1px;
	height: 270px;
	width: 940px;
	margin-top: 20px;
}

// ==========Location 4===========
.location4Box {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: solid orange 1px;
	height: 240px;
	width: 300px;
	align-items: center;
}

.latestNewsBox {
	display: flex;
	border: solid yellow 1px;
	height: 40px;
	width: 295px;
	align-items: center;
	border-bottom: solid grey 2px;	
}

.titleAndDateBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: solid yellow 1px;
	height: 45px;
	width: 300px;
}

.titleBox {
	display: flex;
	border: solid green 1px;
	height: 40px;
	width: 200px;
	align-items: center;
}

.dateBox {
	display: flex;
	border: solid green 1px;
	height: 40px;
	width: 50px;
	align-items: center;
}

.paragraphBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid yellow 1px;
	height: 130px;
	width: 290px;
	overflow: scroll;
}

.readMoreBox {
	display: flex;
	border: solid yellow 1px;
	height: 12px;
	width: 290px;
	align-items: center;

}

// =========location 5===============
.location5Box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: solid orange 1px;
	height: 240px;
	width: 300px;
	align-items: center;
}

.specialsBox {
	display: flex;
	border: solid yellow 1px;
	height: 40px;
	width: 295px;
	align-items: center;
	border-bottom: solid grey 2px;	
}

.specialsImgBox {
	display: flex;
	// flex-direction: column;
	align-items: center;
	border: solid yellow 1px;
	height: 100px;
	width: 260px;
}


.specialsNameBox td {
	// display: flex;
    max-width:255px;
    height: 25px;
    overflow:hidden;
    white-space:nowrap;
	align-items: center;
	border: solid yellow 1px;
}
.specialsNameBox td:first-child:after {
    content:" - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - "
}


.spDescriptionBox {
	display: flex;
	border: solid yellow 1px;
	height: 34px;
	width: 290px;
	align-items: center;
	margin-bottom: 5px;
}



// ==============Location 6===============
.location6Box {
	display: flex;
	flex-direction: column;
	border: solid orange 1px;
	height: 240px;
	width: 300px;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
}

.locationBox {
	display: flex;
	border: solid yellow 1px;
	height: 40px;
	width: 295px;
	align-items: center;
	border-bottom: solid grey 2px;	
}

.gMapsBox {
	display: flex;
	align-items: center;
	border: solid yellow 1px;
	height: 100px;
	width: 260px;
}

.addressBox {
	display: flex;
	border: solid yellow 1px;
	height: 20px;
	width: 295px;
	align-items: center;
	justify-content: center;
}

.phoneNumBox {
	display: flex;
	justify-content: space-between;
	border: solid yellow 1px;
	height: 20px;
	width: 295px;
	align-items: center;
	justify-content: center;
}

.main {
	display: flex;
	border: solid green 1px;
	height: 20px;
	width: 145px;
	align-items: center;
	justify-content: center;
}

.res {
	display: flex;
	border: solid green 1px;
	height: 20px;
	width: 145px;
	align-items: center;
	justify-content: center;
}

.mapsInfoBox {
	display: flex;
	border: solid yellow 1px;
	height: 20px;
	width: 295px;
	align-items: center;
	justify-content: center;
}
.mapLink {
	display: flex;
	border: solid green 1px;
	height: 20px;
	width: 100px;
	align-items: center;
	justify-content: center;
}

.directionsLink {
	display: flex;
	border: solid green 1px;
	height: 20px;
	width: 100px;
	align-items: center;
	justify-content: center;
}

// ======================== Main  Tabs box =======
.mainTabsBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	// align-items: center;
	border: solid red 1px;
	height: 1540px;
	width: 940px;
	margin-top: 20px;
}


// ================== Location 7 ================
.location7Box {
	display: flex;
	flex-direction: column;	
	border: solid orange 1px;
	height: 800px;
	width: 690px;
	// flex: 1;
}

.tabsBox {
 	display: flex;
	flex-direction: row;	
	border: solid yellow 1px;
	height: 50px;
	width: 680px;
	border-bottom: solid grey 2px;
}

.storyTabBox {
 	display: flex;
	border: solid green 1px;
	height: 50px;
	width: 100px;
	align-items: center;
	border-top: solid grey 2px;
	border-left: solid grey 2px;
	border-right: solid grey 2px;
}

.menuTabBox {
	display: flex;
	border: solid green 1px;
	height: 50px;
	width: 100px;
	align-items: center;
	border-top: solid grey 2px;
	border-left: solid grey 2px;
	border-right: solid grey 2px;
}

.resTabBox {
	display: flex;
	border: solid green 1px;
	height: 50px;
	width: 100px;
	align-items: center;
	border-top: solid grey 2px;
	border-left: solid grey 2px;
	border-right: solid grey 2px;
}

.storyBox {
	display: flex;
	flex-direction: column;	
	border: solid yellow 1px;
	height: 750px;
	width: 680px;
	align-items: center;
}

// ====================== Location 8 ==================
.location8Box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;	
	border: solid orange 1px;
	height: 1260px;
	width: 220px;
	// flex: 1;
}

.foodPicsTextBox {
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid yellow 1px;
	height: 50px;
	width: 210px;
	border-bottom: solid grey 2px;
}

.photoBoxes {
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid yellow 1px;
	height: 216px;
	width: 216px;
}




//===========FOOTER===============
.footerBox {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: solid red 1px;
	border-top: solid grey 2px;
	height: 80px;
	width: 940px;
	margin-top: 20px;
}







