        <div class="gamesBox">
              <div class="gamesTitleBox">
                  <p>Games</p>
              </div>
                <div class="gamesNameBox">
                 
                    <div class="gameName">Donky Kong</div>
                    <div class="dashes">
                      <p> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</p>
                    </div>
                    <div class="gamePrice">$1</div>
                </div>

              <div class="gamesDescn-InfoButtonsBox">
                  <div class="gamesDescBox">
                      <div class="platform">
                          <p>Xbox 360</p>
                      </div>
                      <div class="gameDesc">
                          <p>A gorilla throws barrels at you</p>
                      </div>
                  </div>
                  <div class="infoIconsBox">
                     <img src="">
                     <img src="">
                     <img src="">
                     <img src="">
                  </div>

              </div>

        </div>