          <div class="menuBox">
              <div class="AppsTitleBox">
                  <p>Apps</p>
              </div>
              <table class="appNameBox">
                <tr>
                  <td>Super Spicy Wings</td>
                  <td>$8</td>
                </tr>
              </table>
              <div class="appDescn-InfoButtonsBox">
                  <div class="appDescBox">
                      <p>Wings drizzled in our crazy hot nuclear sauce</p>
                  </div>
                  <div class="infoIconsBox">
                     <img src="">
                     <img src="">
                     <img src="">
                     <img src="">
                  </div>
              </div>

              <div class="grubTitleBox">
                  <p>Grub</p>
              </div>
              <table class="grubNameBox">
                  <tr>
                      <td> Burger</td>
                      <td>$15</td>
                </tr>
              </table>
              <div class="grubDescn-InfoButtonsBox">
                  <div class="grubDescBox">
                      <p>2 all beef patties, special sauce, sesame seed bun</p>
                  </div>
                  <div class="infoIconsBox">
                     <img src="">
                     <img src="">
                     <img src="">
                     <img src="">
                  </div>
              </div>

              <div class="beerTitleBox">
                  <p>Beer</p>
              </div>
              <table class="beerNameBox">
                  <tr>
                      <td>Belgian Saison</td>
                      <td>$7</td>
                </tr>
              </table>
              <div class="beerDescn-InfoButtonsBox">
                  <div class="beerDescBox">
                      <p>Delicious golden beer with spices and citrus</p>
                  </div>
                  <div class="infoIconsBox">
                     <img src="">
                     <img src="">
                     <img src="">
                     <img src="">
                  </div>
              </div>

          </div>