
                    <div class="menuBox">
              <div class="AppsTitleBox">
                  <p>Apps</p>
              </div>
              <div class="appsContent">
                  <div class="appNameBox">

                      <div class="appName"> Spicy Buffalo Wings</div>
                      <div class="dashes">
                        <p> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  </p>
                      </div>
                      <div class="appPrice">$7</div>

                  </div>

                  <div class="appDescn-InfoButtonsBox">
                      <div class="appDescBox">
                          <p>Wings drizzled in our crazy hot nuclear sauce</p>
                      </div>
                      <div class="infoIconsBox">
                          <div class="fa fa-exclamation-circle allergies" aria-hidden="true">
                            <div class="popup">
                                <span class="header">Allergy Info</span>
                                <span class="info">There is no allery information for this item. You are probably not allergic.</span>
                            </div>
                          </div>
                          <div class="fa fa-star favorite" aria-hidden="true">
                            <div class="popup">
                                <span class="header">Pub Favorite</span>
                                <span class="info">We like it, but it's nothing special. If you disagree, let your waiter or waitress know!</span>
                            </div>
                          </div>
                          <div class="fa fa-fire spicy" aria-hidden="true">
                              <div class="popup">
                                  <span class="header">Spicy</span>
                                  <span class="info">No peppers, no hot sauce, no worries.</span>
                              </div>
                          </div>
                          <div class="fa fa-envira vegan" aria-hidden="true">
                            <div class="popup">
                                <span class="header">Vegan</span>
                                <span class="info">Item is not vegan and contains meat or fish.</span>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="grubTitleBox">
                  <p>Grub</p>
              </div>
              <div class="grubContent">
                  <div class="grubNameBox">
                        <div class="grubName"> Burger</div>
                        <div class="dashes">
                           <p> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  </p>
                        </div>
                        <div class="grubPrice">$15</div>

                  </div>

                  <div class="grubDescn-InfoButtonsBox">
                      <div class="grubDescBox">
                          <p>2 all beef patties, special sauce, sesame seed bun</p>
                      </div>
                      <div class="infoIconsBox">
                          <div class="fa fa-exclamation-circle allergies" aria-hidden="true">
                            <div class="popup">
                                <span class="header">Allergy Info</span>
                                <span class="info">There is no allery information for this item. You are probably not allergic.</span>
                            </div>
                          </div>
                          <div class="fa fa-star favorite" aria-hidden="true">
                            <div class="popup">
                                <span class="header">Pub Favorite</span>
                                <span class="info">We like it, but it's nothing special. If you disagree, let your waiter or waitress know!</span>
                            </div>
                          </div>
                          <div class="fa fa-fire spicy" aria-hidden="true">
                              <div class="popup">
                                  <span class="header">Spicy</span>
                                  <span class="info">No peppers, no hot sauce, no worries.</span>
                              </div>
                          </div>
                          <div class="fa fa-envira vegan" aria-hidden="true">
                            <div class="popup">
                                <span class="header">Vegan</span>
                                <span class="info">Item contains meat or fish and is not vegan.</span>
                            </div>
                          </div>
                      </div>

                  </div>
              </div>

              <div class="beerTitleBox">
                  <p>Beer</p>
              </div>
              <div class="beerContent">
                  <div class="beerNameBox">

                      <div class="beerName">Saison Dupont</div>
                      <div class="dashes">
                          <p> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  </p>
                      </div>
                      <div class="beerPrice">$7</div>
                  </div>

                  <div class="beerDescn-InfoButtonsBox">
                        <div class="styleDescBox">
                            <div class="beerStyle">
                              <p>Belgian Saison</p>
                            </div>
                            <div class="beerDescBox">
                                <p>Delicious golden beer with spices and citrus</p>
                            </div>
                        </div>

                    </div>
                  <div class="infoIconsBox">
                     <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                     <i class="fa fa-star" aria-hidden="true"></i>
                     <i class="fa fa-fire" aria-hidden="true"></i>
                     <i class="fa fa-envira" aria-hidden="true"></i>

                  </div>
              </div>

          </div>
