         <div class="resFormBox">

              <div class="nameTitle">
                  <p>Full Name</p>
              </div>
              <div class="nameInput">                
              </div>

              <div class="guestsTitle">
                  <p>Number of Guests</p>
              </div>
                <div class="guestInput">               
                </div>

              <div class="dateTitle">
                  <p>Date</p>
              </div>
              <div class="dateInput">
                <input type="text" id="datepicker" />
              </div>

              <div class="notesTitle">
                  <p>Special Notes</p>
              </div>
              <textarea name="textarea" rows="6" cols="30">
              </textarea>

              <div class="seatingTitle">
                  <p>Seating Preference</p>
              </div>
              <select name="select">
                  <option value="value1" selected>Inside</option> 
                  <option value="value2" >Patio</option>
                  <option value="value3">Game Room</option>
              </select>

              <div class="resButtonBox">
                  <button class="button">Reserve Table
                  </button>
              </div>

          </div>